// FONT FAMILIES
// Font files are located in assets/fonts, currently choose from the fonst listed below. 
// Only un-comment what you need to keep your CSS light

// Roboto (sans-serif)
//––––––––––––––––––––––––––––––––––––––––––––––––––
@font-face {
    font-family: 'robotobold';
    src: url('assets/fonts/roboto-bold.woff2') format('woff2'),
         url('assets/fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto-regular.woff2') format('woff2'),
         url('assets/fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('assets/fonts/roboto-light.woff2') format('woff2'),
         url('assets/fonts/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
