// Fonts currently in assets/fonts
// By default you can choose from robotolight, robotoregular, and robotobold - feel free to add/update as needed
//––––––––––––––––––––––––––––––––––––––––––––––––––
$font__main: 'robotoregular', sans-serif; 
$font__headings: 'robotobold', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
